@page "/browse-company"
@layout ContentLayoutBlack
@inject IJSRuntime IJS

@inject NavigationManager NavMgr
@inject ToastInfoService Toast
@inject UserProfileService service
@inject CompanyService CompanySvc
<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Browse Companies</h2>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/find-job">Find Work</a></li>
                        <li>Browse Companies</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="letters-list">
                @foreach (var alpha in Alphabets)
                {
                    <a href="#" @onclick="()=>SelectAlphabet(alpha)" @onclick:preventDefault class="@(alpha == Selected ? "current" : "" )">@alpha</a>
                }

            </div>
        </div>
        <div class="col-xl-12">
            <div class="companies-list">
                <Virtualize Items="@ListCompany" Context="item">
                    <a @key="item.Id" href="@($"/company-detail/{item.Id}")" class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo"><img src="@(string.IsNullOrEmpty(item.LogoUrl)?"images/company-logo-placeholder.png":item.LogoUrl)" alt=""></span>
                            <h4>@item.FullName</h4>
                            <RatingPicker Rating="item.Rating" IsEditable="false"></RatingPicker>
                        </div>
                    </a>
                </Virtualize>
               

            </div>
        </div>
    </div>
</div>


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->

@code {
    char Selected = 'A';
    List<Company> ListCompany = new();
    List<char> Alphabets = new List<char>();
    protected override async Task OnInitializedAsync()
    {
        for (var i = 'A'; i <= 'Z'; i++)
        {
            Alphabets.Add(i);
        }
        LoadData();
    }

    void LoadData()
{
        ListCompany = CompanySvc.GetAllData(Selected.ToString());
}

    void SelectAlphabet(char item)
{
        Selected = item;
        LoadData();
}
    }
