@page "/dashboard"
@layout AdminLayout
@inject IJSRuntime IJS
@inject NotificationService NotificationSvc

@inject NavigationManager NavMgr
@inject ToastInfoService Toast
@inject JobService JobSvc
@inject UserProfileService service
@inject CompanyService CompanySvc
@inject ProjectService ProjectSvc
@inject PageViewService PageViewSvc
@inject NoteService NoteSvc
@inject AppState AppState
@implements IDisposable

<div class="dashboard-content-inner">

    <!-- Dashboard Headline -->
    <div class="dashboard-headline">
        <h3>Hello, @SelUser.FullName.</h3>
        <span>Senang bertemu dengan Anda lagi!</span>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs" class="dark">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Dashboard</li>
            </ul>
        </nav>
    </div>

    <!-- Fun Facts Container -->
    <div class="fun-facts-container">
        <div class="fun-fact" data-fun-fact-color="#36bd78">
            <div class="fun-fact-text">
                <span>Menang Proyek</span>
                <h4>@(SelUser.ProjectBids == null ? 0 : SelUser.ProjectBids.Where(x=>x.Project.WinnerId == SelUser.Id).Count())</h4>
            </div>
            <div class="fun-fact-icon"><i class="icon-material-outline-gavel"></i></div>
        </div>
        <div class="fun-fact" data-fun-fact-color="#b81b7f">
            <div class="fun-fact-text">
                <span>Apply Kerjaan</span>
                <h4>@(SelUser.AppliedJobs == null ? 0 : SelUser.AppliedJobs?.Count())</h4>
            </div>
            <div class="fun-fact-icon"><i class="icon-material-outline-business-center"></i></div>
        </div>
        <div class="fun-fact" data-fun-fact-color="#efa80f">
            <div class="fun-fact-text">
                <span>Review</span>
                <h4>@(SelUser.ReviewByEmployers == null ? 0 : SelUser.ReviewByEmployers?.Count())</h4>
            </div>
            <div class="fun-fact-icon"><i class="icon-material-outline-rate-review"></i></div>
        </div>

        <!-- Last one has to be hidden below 1600px, sorry :( -->
        <div class="fun-fact" data-fun-fact-color="#2a41e6">
            <div class="fun-fact-text">
                <span>Hit Profile Kamu Bulan ini</span>
                <h4>@PageViewCount</h4>
            </div>
            <div class="fun-fact-icon"><i class="icon-feather-trending-up"></i></div>
        </div>
    </div>

    <!-- Row -->
    <div class="row">

        <div class="col-xl-8">
            <!-- Dashboard Box -->
            <div class="dashboard-box main-box-in-row">
                <div class="headline">
                    <h3><i class="icon-feather-bar-chart-2"></i> Yang Melihat Profil Kamu</h3>
                    <div class="sort-by">
                        <select class="selectpicker hide-tick">
                            <option>This Year</option>
                        </select>
                    </div>
                </div>
                <div class="content">
                    <!-- Chart -->
                    <div class="chart">
                        <canvas id="chart" width="100" height="45"></canvas>
                    </div>
                </div>
            </div>
            <!-- Dashboard Box / End -->
        </div>
        <div class="col-xl-4">

            <!-- Dashboard Box -->
            <!-- If you want adjust height of two boxes
                 add to the lower box 'main-box-in-row'
                 and 'child-box-in-row' to the higher box -->
            <div class="dashboard-box child-box-in-row">
                <div class="headline">
                    <h3><i class="icon-material-outline-note-add"></i> Catatan</h3>
                </div>

                <div class="content with-padding">
                    <Virtualize Items="@ListNote" Context="item">

                        <!-- Note -->
                        <div @key="item.Id" class="dashboard-note">
                            <p>@item.Message</p>
                            <div class="note-footer">
                                <span class="note-priority high">@item.Priority</span>
                                <div class="note-buttons">
                                    <a href="#" @onclick:preventDefault @onclick="()=>SelectNote(item)" title="Edit" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                                    <a href="#" @onclick:preventDefault @onclick="()=>RemoveNote(item)" title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                                </div>
                            </div>
                        </div>

                    </Virtualize>
                </div>
                <div class="add-note-button">
                    <a href="#" @onclick:preventDefault @onclick="NewNote" class=" popup-with-zoom-anim button full-width button-sliding-icon">Add Note <i class="icon-material-outline-arrow-right-alt"></i></a>
                </div>
            </div>
            <!-- Dashboard Box / End -->
        </div>
    </div>
    <!-- Row / End -->
    <!-- Row -->
    <div class="row">

        <!-- Dashboard Box -->
        <div class="col-xl-6">
            <div class="dashboard-box">
                <div class="headline">
                    <h3><i class="icon-material-baseline-notifications-none"></i> Notifikasi</h3>
                    <button @onclick="MarkReadNotification" class="mark-as-read ripple-effect-dark" data-tippy-placement="left" title="Sudah Baca Semua">
                        <i class="icon-feather-check-square"></i>
                    </button>
                </div>
                <div class="content">
                    <ul class="dashboard-box-list">
                        @if (ListNotification == null || ListNotification.Count <= 0)
                        {
                            <li>
                                <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                <span class="notification-text">
                                    <span class="color">Tidak ada notifikasi</span>
                                </span>

                            </li>
                        }
                        else
                        {
                            @foreach (var item in ListNotification)
                            {
                                <li>
                                    <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                    <span class="notification-text">
                                        <strong>@item.Action</strong>: <a href="#">@item.Message</a>
                                    </span>
                                    <!-- Buttons -->
                                    <div class="buttons-to-right">
                                        <a href="@item.LinkUrl" class="button ripple-effect ico" title="Mark as read" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>
                                    </div>
                                </li>
                            }
                        }


                    </ul>
                </div>
            </div>
        </div>

        <!-- Dashboard Box -->
        <div class="col-xl-6">
            <div style="display:none;" class="dashboard-box">
                <div class="headline">
                    <h3><i class="icon-material-outline-assignment"></i> Orders</h3>
                </div>
                <div class="content">
                    <ul class="dashboard-box-list">
                        <li>
                            <div class="invoice-list-item">
                                <strong>Professional Plan</strong>
                                <ul>
                                    <li><span class="unpaid">Unpaid</span></li>
                                    <li>Order: #326</li>
                                    <li>Date: 12/08/2019</li>
                                </ul>
                            </div>
                            <!-- Buttons -->
                            <div class="buttons-to-right">
                                <a href="pages-checkout-page.html" class="button">Finish Payment</a>
                            </div>
                        </li>
                        <li>
                            <div class="invoice-list-item">
                                <strong>Professional Plan</strong>
                                <ul>
                                    <li><span class="paid">Paid</span></li>
                                    <li>Order: #264</li>
                                    <li>Date: 10/07/2019</li>
                                </ul>
                            </div>
                            <!-- Buttons -->
                            <div class="buttons-to-right">
                                <a href="pages-invoice-template.html" class="button gray">View Invoice</a>
                            </div>
                        </li>
                        <li>
                            <div class="invoice-list-item">
                                <strong>Professional Plan</strong>
                                <ul>
                                    <li><span class="paid">Paid</span></li>
                                    <li>Order: #211</li>
                                    <li>Date: 12/06/2019</li>
                                </ul>
                            </div>
                            <!-- Buttons -->
                            <div class="buttons-to-right">
                                <a href="pages-invoice-template.html" class="button gray">View Invoice</a>
                            </div>
                        </li>
                        <li>
                            <div class="invoice-list-item">
                                <strong>Professional Plan</strong>
                                <ul>
                                    <li><span class="paid">Paid</span></li>
                                    <li>Order: #179</li>
                                    <li>Date: 06/05/2019</li>
                                </ul>
                            </div>
                            <!-- Buttons -->
                            <div class="buttons-to-right">
                                <a href="pages-invoice-template.html" class="button gray">View Invoice</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- Row / End -->
    <!-- Footer -->
    <div class="dashboard-footer-spacer"></div>
    <SmallFooterPage></SmallFooterPage>
    <!-- Footer / End -->

</div>
@code {
    [CascadingParameter]
    public AdminLayout Layout { get; set; }
    UserProfile SelUser = new UserProfile();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;
    long PageViewCount;
    public List<Note> ListNote { get; set; } = new();
    public List<Notification> ListNotification { get; set; } = new();
    public List<PageViewMonth> PageCount { get; set; }
    protected override async Task OnInitializedAsync()
    {

        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            SelUser = service.GetItemByUsername(UserName);

            LoadData();
        }
        AppState.OnNoteChange += Refresh;
    }
    public void Dispose()
    {
        AppState.OnNoteChange -= Refresh;


    }
    async void Refresh(string tousername)
    {
        LoadData();
        await InvokeAsync(StateHasChanged);
    }
    async Task SelectNote(Note item)
    {
        Layout.SetNote(item);
        await IJS.InvokeVoidAsync("ShowModal", "note-small-dialog");

    } 
    async Task NewNote()
    {
        var item = new Note() { CreatedDate = DateHelper.GetLocalTimeNow(), UserId = SelUser.Id };
        Layout.SetNote(item);
        await IJS.InvokeVoidAsync("ShowModal", "note-small-dialog");

    }
    async Task RemoveNote(Note item)
    {
        var res = NoteSvc.DeleteData(item.Id);
        if (res) LoadData();
    }
    void LoadData()
    {
        ListNote = NoteSvc.GetAllData(SelUser.Id);
        var date = DateHelper.GetLocalTimeNow();
        var firstDayOfMonth = new DateTime(date.Year, date.Month, 1);
        var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);
        PageViewCount = PageViewSvc.GetMyPageView(SelUser, firstDayOfMonth, lastDayOfMonth);
        PageCount = PageViewSvc.GetMyPageViewYear(SelUser);
        ListNotification = NotificationSvc.GetLatestNotifications(SelUser.Id);
    }
    async Task MarkReadNotification()
    {
        foreach (var item in ListNotification)
        {
            item.IsRead = true;
            NotificationSvc.UpdateData(item);
        }
        if (ListNotification.Count > 0)
        {
            LoadData();
            await Toast.ShowInfo("notifikasi dibersihkan");
        }
    }
    protected override void OnAfterRender(bool firstRender)
    {

        if (firstRender)
        {
            if (PageCount != null)
            {
                IJS.InvokeVoidAsync("LoadChart2", PageCount.Select(x => x.Month).ToArray(), PageCount.Select(x => x.Hit).ToArray());
            }
            else
            {
                IJS.InvokeVoidAsync("LoadChart");
            }

        }
    }
}
