@page "/list-blog"
@page "/list-blog/{Keyword}"
@page "/list-blog/tags/{Tag}"
@layout ContentLayoutBlack
@inject IJSRuntime IJS
@inject BlogService BlogSvc
@inject UserProfileService service

<!-- Content
================================================== -->
<div id="titlebar" class="white margin-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Blog</h2>
                <span>Featured Posts</span>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Recent Blog Posts -->
<div class="section white padding-top-0 padding-bottom-60 full-width-carousel-fix">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="blog-carousel">
                    @if (FeaturedBlogs != null)
                        @foreach (var item in FeaturedBlogs)
                        {
                            <a href="@($"blog-detail/{item.Id}")" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="@(string.IsNullOrEmpty(item.ImageUrl)?"images/blog-04a.jpg":item.ImageUrl)" alt="">
                                    <span class="blog-item-tag">@item.Tags</span>
                                    <div class="blog-compact-item-content">
                                        <ul class="blog-post-tags">
                                            <li>@item.CreatedDate.ToString("dd MMM yyyy")</li>
                                        </ul>
                                        <h3>@item.Title</h3>
                                        <p>@(item.Body.Length > 50 ? (MarkupString)item.Body.Substring(0, 50) : (MarkupString)item.Body)</p>
                                    </div>
                                </div>
                            </a>
                        }

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Recent Blog Posts / End -->
<!-- Section -->
<div class="section gray">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">

                <!-- Section Headline -->
                <div class="section-headline margin-top-60 margin-bottom-35">
                    <h4>Recent Posts</h4>
                </div>
                @if (LatestBlogs != null)
                    @foreach (var item in LatestBlogs)
                    {
                        <!-- Blog Post -->
                        <a href="@($"blog-detail/{item.Id}")" class="blog-post">
                            <!-- Blog Post Thumbnail -->
                            <div class="blog-post-thumbnail">
                                <div class="blog-post-thumbnail-inner">
                                    <span class="blog-item-tag">@item.Tags</span>
                                    <img src="@(string.IsNullOrEmpty(item.ImageUrl)?"images/blog-01a.jpg":item.ImageUrl)" alt="">
                                </div>
                            </div>
                            <!-- Blog Post Content -->
                            <div class="blog-post-content">
                                <span class="blog-post-date">@item.CreatedDate.ToString("dd MMM yyyy")</span>
                                <h3>@item.Title</h3>
                                <p>@(item.Body.Length > 50 ? (MarkupString)item.Body.Substring(0, 50) : (MarkupString)item.Body)</p>
                            </div>
                            <!-- Icon -->
                            <div class="entry-icon"></div>
                        </a>
                    }

                <!-- Pagination -->
                <div class="clearfix"></div>
                <div style="display:none;" class="row">
                    <div class="col-md-12">
                        <!-- Pagination -->
                        <div class="pagination-container margin-top-10 margin-bottom-20">
                            <nav class="pagination">
                                <ul>
                                    <li><a href="#" class="current-page ripple-effect">1</a></li>
                                    <li><a href="#" class="ripple-effect">2</a></li>
                                    <li><a href="#" class="ripple-effect">3</a></li>
                                    <li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Pagination / End -->

            </div>


            <div class="col-xl-4 col-lg-4 content-left-offset">
                <div class="sidebar-container margin-top-65">

                    <!-- Location -->
                    <div class="sidebar-widget margin-bottom-40">
                        <div class="input-with-icon">
                            <input @bind="Keyword" @onkeyup="KeyUp" id="autocomplete-input" type="text" placeholder="Search">
                            <i class="icon-material-outline-search"></i>
                        </div>
                    </div>

                    <!-- Widget -->
                    <div class="sidebar-widget">

                        <h3>Trending Posts</h3>
                        <ul class="widget-tabs">
                            @if (TrendingBlogs != null)
                                @foreach (var item in TrendingBlogs)
                                {
                                    <!-- Post #1 -->
                                    <li>
                                        <a href="@($"blog-detail/{item.Id}")" class="widget-content active">
                                            <img src="@(string.IsNullOrEmpty(item.ImageUrl)?"images/blog-02a.jpg":item.ImageUrl)" alt="">
                                            <div class="widget-text">
                                                <h5>@item.Title</h5>
                                                <span>@item.CreatedDate.ToString("dd MMMM yyyy")</span>
                                            </div>
                                        </a>
                                    </li>
                                }

                        </ul>

                    </div>
                    <!-- Widget / End-->
                    <!-- Widget -->
                    <div class="sidebar-widget">
                        <h3>Social Profiles</h3>
                        <div class="freelancer-socials margin-top-25">
                            <ul>
                                <li><a href="#" title="Dribbble" data-tippy-placement="top"><i class="icon-brand-dribbble"></i></a></li>
                                <li><a href="#" title="Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
                                <li><a href="#" title="Behance" data-tippy-placement="top"><i class="icon-brand-behance"></i></a></li>
                                <li><a href="#" title="GitHub" data-tippy-placement="top"><i class="icon-brand-github"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Widget -->
                    <div class="sidebar-widget">
                        <h3>Tags</h3>
                        <div class="task-tags">
                            @foreach(var tag in Tags){
                                <a href="#" @onclick="()=>SearchByTag(tag)" @onclick:preventDefault><span>@tag</span></a>
                            }
                           
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- Spacer -->
    <div class="padding-top-40"></div>
    <!-- Spacer -->

</div>
<!-- Section / End -->
@code {
    UserProfile SelUser = new UserProfile();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;
    public List<Blog> FeaturedBlogs { get; set; }
    public List<Blog> TrendingBlogs { get; set; }
    public List<Blog> LatestBlogs { get; set; }
    [Parameter]
    public string Keyword { get; set; }

    [Parameter]
    public string Tag { get; set; }

    List<string> Tags = new();
    protected override async Task OnInitializedAsync()
    {

        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            SelUser = service.GetItemByUsername(UserName);

        }
        FeaturedBlogs = BlogSvc.GetFeatured();
        TrendingBlogs = BlogSvc.GetTrending();
        Tags = BlogSvc.GetTags();
        LoadData();

    }
    private void KeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            //if (!string.IsNullOrWhiteSpace(Keyword))
            {
                Tag = string.Empty;
                LoadData();
            }
        }
    }
    void SearchByTag(string tag)
    {
        Tag = tag;
        LatestBlogs = BlogSvc.GetByTag(Tag);
    }
    void LoadData()
    {
        if (!string.IsNullOrEmpty(Tag))
        {
            SearchByTag(Tag);
        }
        else
        {
            LatestBlogs = BlogSvc.GetLatest(Keyword);
        }
    }
}
